
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
   
    color: #333;
    
}


header{
background-color: rgb(140, 120, 252);
  font-size: 25px;
}
h1 {
    background-color: rgb(140, 120, 252);

    margin-top: 0px;
}



a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

a:hover {
    color: red;
    text-decoration: underline;
}


form {
    width: 600px;
    margin: 30px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


form p {
    font-size: 30px;
    color: #0b3d91;
    margin-bottom: 20px;
}


table {
    width: 100%;
    border-spacing: 15px;
}


td:first-child {
    font-weight: bold;
    width: 35%;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 15px;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #2196F3;
    outline: none;
    box-shadow: 0 0 5px #2196F3;
}


input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    margin-left: 10px;
}


button {
    padding: 10px 25px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}


button[type="submit"] {
    background-color: #28a745;
    color: white;
}

button[type="submit"]:hover {
    background-color: #218838;
}


button[type="reset"] {
    background-color: #dc3545;
    color: white;
}

button[type="reset"]:hover {
    background-color: #c82333;
}


hr {
    margin: 25px 0;
}


small {
      background-color: rgb(140, 120, 252);
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
}




